*{
    margin: 0px;
    padding: 0px;
    
}

.container{
    
    height: 100px;
    background-color: rgb(0, 0, 0); 
    display: flex; 
    padding: 0 40px;
}
.nav-bar{
        display: flex;
        padding: 20px;
        height: 60px;
        width: 100vw;
        align-items: center;
        justify-content: space-between;
        padding-top: 0px;
    
}

.logo h2{
    list-style: none;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}
.logo{
    height:fit-content;
    align-items: center;
}

.nav-right ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    align-items: center;  /* keeps all li contents vertically aligned */
  }
  
.nav-bar a{
    display: inline-block;

    flex-direction: row;
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-bar a:hover:not(.get) {
    color: rgb(211, 58, 68);
    transition: 0.3s;
    cursor: pointer;
}
.get {
    background-color: black;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 9px;
    color: white;
    display: inline-block;
    text-decoration: none;
  }
  
  .get:hover{
    background-color: rgb(96, 96, 205);
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }
.content{
    color: white;
    background-color: black;
    height: 100vh;
;
    
}
.content h1{
    background-color: rgb(0, 0, 0); 
    display: flex; 
    padding: 0 40px;
    font-size: 90px;
    font-family: "Questrial", sans-serif;
    opacity: 0;
    animation: slideInLeft 1s ease-out forwards;
}
.content p {
    font-size: 40px;
    margin-top: 30px;
    color: #ffffff;
    padding: 0 40px;
    animation: slideInLeft 1s ease-out forwards;
   
  }
.Learn {
    background-color: rgb(237, 70, 92);
    border: none;
    padding: 15px 15px;
    border-radius: 9px;
    color: rgb(0, 0, 0);
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    margin-left: 40px;
    transition: 0.3s;
    opacity: 0;
    animation: slideInLeft 1s ease-out forwards;
    animation-delay: 1.3s;
}
.Learn:hover{
    background-color: #e04848;
    transform: scale(1.1);
}
.question {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(237, 70, 92);;
    color: white;
    border: none;
    border-radius: 16px;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
    transition: 0.3s;
    z-index: 999; /* stays above all content */
  }
  .question:hover {
    background-color: #e04848;
    transform: scale(1.1);
  }

  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .slide-in {
    animation: slideInLeft 1s ease-out forwards;
  }
  .slide-in-slow {
    animation: slideInLeft 2s ease-out forwards; 
  }
  
  .slide-in.delay {
    animation-delay: 0.6s;
  }